header{
    background: #BBBBBB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

header nav li a{
    transition: 300ms;
}

nav a:hover{
    color: rgb(85, 15, 15);
    text-decoration: underline;
}

.servicos{
    width: 50%;
    margin: 0 auto;
}

.servicos img{
    width: 100%;
}

.servicos li{
    border: 2px solid black;    
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.servicos h2{
    font-size: 30px;
    font-weight: bold;
}

.servico-descricao{
    font-size: 18px;
}

.serviço-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.servicos:hover{
    color: rgb(116, 18, 12);
}

@media only screen and (max-width: 1594px){
    .servicos{
        width: 75%;
    }
}

@media only screen and (max-width: 480px){
    .servicos{
        width: 100%;
    }

    .container .name h1{
        font-size: 30px;
    }

    .container .name h5{
        font-size: 15px;
    }

    #about p{
        max-width: 80%;
        text-align: justify;
    }
}
