header{
    background: #BBBBBB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

header nav li a{
    transition: 300ms;
}

nav a:hover{
    color: rgb(190, 38, 30);
    text-decoration: underline;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}


.servicos{
    width: 50%;
    margin: 45px auto;
}

.servicos img{
    width: 100%;
}

.servicos li{
    border: 2px solid black;    
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}


.servicos li{
    transition: 300ms;
}

.servicos li:hover{
    border-color: rgb(190, 38, 30) ;
}

.servicos li:hover h2{
    font-size: 35px;
}

.servicos h2{
    font-size: 30px;
    font-weight: bold;
}

.servico-descricao{
    font-size: 18px;
}

.serviço-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}


footer{
    text-align: center;
    background: url(../img/bg.jpg);
    padding: 40px 0
}

.copyright{
    color:#ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}

@media only screen and (max-width: 1594px){
    .servicos{
        width: 75%;
    }
}

@media only screen and (max-width: 480px){
    .servicos{
        width: 100%;
    }
}
